.clsAddEmployeePage {
    display: none !important; /* Its necessary to add the !important here because the display property is being overwritten by the d-flex class which has display:flex set to important*/
}

.changeEmployeeBtn {
    display: block;
    transition: opacity 0.3s ease, transform 0.3s ease;
    width: 50%;
}

.newEmployeesNotInitialized{
    margin-top:150px;
}

#loadingDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.refresh-icon{
    display:none;
    position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
z-index: 1000;

}
.add-emp-image {
    position: relative;
}


.addempImage:hover .refresh-icon{
    display:block;
}

