.expandable {
    cursor: pointer;
}
.details {
    display: none;
}
.toggle-btn::after {
    content: '+';
}
.toggle-btn.collapsed::after {
    content: '-';
}
.text-end {
    text-align: right;
}
@media (max-width: 700px) {
    .table-responsive {
        overflow-x: auto;
    }
    table {
        min-width: 300px;
    }
}

#totalCostContainer, #totalSalesContainer, #totalCashCostContainer {
    margin-top: 20px;
    padding: 10px;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.table-wrapper {
    overflow-y: auto;
    max-height: 500px; /* Adjust the height as needed */
}

table thead {
    background-color: #f4f4f4;
    position: sticky;
    top: 0;
    z-index: 1;
}

table tbody tr {
    transition: all 0.3s ease-in-out;
}

table tbody tr:hover {
    background-color: #f1f1f1;
}

h1.text-center.text-md {
    font-size: 24px;
    margin-bottom: 20px;
}

#salesTable {
    width: 100%;
    border-collapse: collapse;
}

#salesTable th, #salesTable td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#salesTable th {
    background-color: #f4f4f4;
    position: sticky;
    top: 0;
    z-index: 2;
}


@media(print){
    header,footewr{
        display:none;
    }
}