#searchatt {
    background-color: #faad39;
    border-radius: 20px;
    width: 50%;
    color:white;
}

.card-body-text {
    display: flex;
    align-items: flex-end !important;
}

.fs-2 {
    font-size: 1.3em !important;
}

.clsAttendanceAmountData{
    font-weight:bold;
font-size: 40px !important;
}

.clsAttendanceTextData {
    font-weight:200;
    font-size: 1.3em !important;
}

@media (max-width: 575px) {

    .cssDonutattWidth {
        
        width: 55% !important;
    }

}