#loadingOverlay {
    position: fixed; /* Overlay takes the whole screen */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(31 31 31 / 91%); /* Semi-transparent white background */
    display: none; /* Initially hidden */
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Align children vertically */
    align-items: center; /* Align children horizontally */
    z-index: 1000; /* Ensure it's above all other content */
}

    #loadingOverlay img,
    #loadingOverlay span {
        display: block; /* Make image and span block-level elements */
        margin: 10px 0; /* Add some vertical spacing */
    }

@keyframes breathing {
    0%, 100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1); /* Adjust scale value for the effect */
    }
}

@keyframes fading {
    0%, 100% {
        opacity: 1;
    }

    50% {
        opacity: 0; /* Logo becomes fully transparent */
    }
}


.companyLogo {
    animation: breathing 3s ease-in-out infinite, fading 3s linear infinite;
}

.humour{
    color:white;
}

.clsFirstUnlockedPeriod:hover{
    cursor:pointer;
}

.clsFirstUnlockedPeriod{
   border:none;
   font-weight:bold;
   color:#ff9900;
   font-size:large;
   width:170px;
}