.img-fluid {
    max-width: 120px; /* Adjust as needed */
    height: auto;
    display: block;
    margin: 0 auto;
}

.settingsBtns {
    margin-top: 342px;
}

.cssActualLogo {
    position: relative; /* Set the button to a relative position */
    height: 100%; /* Take full height of the container */
    display: flex;
    align-items: center; /* Vertically center the image */
    justify-content: center; /* Horizontally center the image */
}

    .cssActualLogo span {
        position: absolute; /* Position the label absolutely */
        bottom: 0; /* Place it at the bottom */
        left: 50%; /* Center it horizontally */
        transform: translateX(-50%); /* Adjust for perfect centering */
        width: 100%; /* Take full width */
        text-align: center; /* Center the text */
    }

.icon-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; /* This will vertically center the content */
    height: 100%; /* or set a specific height if needed */
}

.empConfig {
    display: none;
    margin-top: 8% !important;
    transition: transform 0.5s ease, opacity 0.5s ease;
    transform-origin: top;
}

    /* Minimized state of empConfig */
    .empConfig.minimized {
        transform: scaleY(0);
        opacity: 0;
        height: 0; /* Optional: if you want to remove the space taken by empConfig */
    }

.empDetailsSection {
    display: none;
    transition: opacity 0.5s ease;
}

    /* Visible state of the empDetailsSection */
    .empDetailsSection.visible {
        display: block;
        opacity: 1;
    }

.changeEmployeeBtn {
    display: block;
    opacity: 0;
    transform: scale(0.5);
    transition: opacity 0.3s ease, transform 0.3s ease;
    margin-top: 100px;
    width: 100%;
}

    .changeEmployeeBtn.visible {
        opacity: 1;
        transform: scale(1);
    }

.addSalaryItemBtn {
    margin-top: 12px;
}

button.btn.btn-sm.btn-flex.btn-light.btn-outline-success.fw-bolder.addSalaryItemBtn:hover {
    background-color: #07b507 !important;
    color: #fff;
    border-color: #07b507;
}

/* Base card style */
.cadre2 {
    background-color: #fff; /* White background */
    border: 1px solid #e2eaed; /* Light grey border */
    border-radius: .625rem; /* Rounded corners */
    padding: 1.875rem; /* Inner spacing */
    display: flex;
    align-items: center;
    justify-content: space-between; /* Space between the items */
    text-decoration: none; /* Removes underline from links */
    box-shadow: 0 8px 16px rgba(0,0,0,.1), 0 0 1px rgba(0,0,0,.05); /* Adds shadow for depth */
    margin-bottom: 1rem; /* Space below each card */
}

/* Image and text container */
.cadre2__section {
    display: flex;
    align-items: center;
    padding: 1rem 0; /* Top and bottom padding for the section */
}

/* Image styling */
.cadre2 img {
    border-radius: .625rem 0 0 .625rem; /* Rounded left corners */
    margin-right: 1rem; /* Space after the image */
}

/* Text styling */
.cadre2 p {
    margin: 0; /* Removes default paragraph margin */
    font-weight: 700; /* Bold text */
}

/* Button styles */
.btn-rond-nivo2 {
    background: #fff; /* White background for the button */
    box-shadow: 0 0 15px rgba(0,0,0,.15); /* Shadow for the button */
    border-radius: 50%; /* Circular button */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px; /* Size of the button */
}

    /* Chevron icon style */
    .btn-rond-nivo2 svg {
        fill: #CCCCCC; /* Color of the SVG icon */
    }

/* Responsive adjustments */
@media screen and (max-width: 37.4375em) {
    .cadre2 {
        padding: .9375rem; /* Smaller padding on smaller screens */
    }
}
