.img-fluid {
    max-width: 120px; /* Adjust as needed */
    height: auto;
    display: block;
    margin: 0 auto;
}

.settingsBtns {
    margin-top: 342px;
}

.cssActualLogo {
    position: relative; /* Set the button to a relative position */
    height: 100%; /* Take full height of the container */
    display: flex;
    align-items: center; /* Vertically center the image */
    justify-content: center; /* Horizontally center the image */
}

    .cssActualLogo span {
        position: absolute; /* Position the label absolutely */
        bottom: 0; /* Place it at the bottom */
        left: 50%; /* Center it horizontally */
        transform: translateX(-50%); /* Adjust for perfect centering */
        width: 100%; /* Take full width */
        text-align: center; /* Center the text */
    }

.icon-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; /* This will vertically center the content */
    height: 100%; /* or set a specific height if needed */
}

.empConfig {
    display: none;
    margin-top: 8% !important;
    transition: transform 0.5s ease, opacity 0.5s ease;
    transform-origin: top;
}

    /* Minimized state of empConfig */
    .empConfig.minimized {
        transform: scaleY(0);
        opacity: 0;
        height: 0; /* Optional: if you want to remove the space taken by empConfig */
    }

.empDetailsSection {
    display: none;
    transition: opacity 0.5s ease;
}

    /* Visible state of the empDetailsSection */
    .empDetailsSection.visible {
        display: block;
        opacity: 1;
    }

.changeEmployeeBtn {
    display: block;
    opacity: 0;
    transform: scale(0.5);
    transition: opacity 0.3s ease, transform 0.3s ease;
    margin-top: 100px;
    width: 100%;
}

    .changeEmployeeBtn.visible {
        opacity: 1;
        transform: scale(1);
    }

.addSalaryItemBtn {
    margin-top: 12px;
}

button.btn.btn-sm.btn-flex.btn-light.btn-outline-success.fw-bolder.addSalaryItemBtn:hover {
    background-color: #07b507 !important;
    color: #fff;
    border-color: #07b507;
}

/* Base card style */
.cadre2 {
    background-color: #fafafa; /* Light grey background */
    border: 1px solid #eaeaea; /* Light grey border */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: .625rem;
    padding: 1rem;
    text-decoration: none;
    margin-bottom: 1rem;
    position: relative;
    max-width: 300px; /* Or any other width you prefer */
    width: 100%; /* This will ensure it's responsive and doesn't exceed the max-width */
    margin-left: auto; /* Center the card */
    margin-right: auto; /* Center the card */
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* Smooth transition for shadow and transform */
}

.cadre2:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Slightly larger shadow on hover */
    transform: translateY(-2px); /* Lift the card up a bit */
    text-decoration: none; /* Ensures text isn't underlined on hover */
}

/* Section within the card */
.cadre2__section {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-grow: 1;
}


/* Image style */
.cadre2 img {
    border-radius: .625rem 0 0 .625rem;
}

/* Text style */
.cadre2 p {
    margin-left: 1rem;
    font-weight: 700;
    flex-grow: 1; /* Allow the text to take up available space */
}

/* Chevron icon style with a circle */
.btn-rond-nivo2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px; /* Circle size */
    height: 32px; /* Circle size */
    border-radius: 50%; /* Make it round */
    background-color: #fff; /* Circle color */
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1); /* Optional: add a shadow */
    margin-left: auto; /* Align to the right */
    margin-right: 0.5rem; /* Spacing to the right */
    transition: background-color 0.3s ease; /* Smooth background color transition */
}

.btn-rond-nivo2:hover {
    background-color: #eaeaea; /* Light grey background on hover */
}

/* Bootstrap icon within the circle */
.btn-rond-nivo2 .bi-chevron-right {
    font-size: 1.5rem; /* Chevron size */
    color: #CCCCCC; /* Chevron color */
}

@media (max-width: 768px) {
    .cadre2 {
        /* Adjust padding and font sizes for mobile if needed */
    }
}

.icon-size {
    width: 76px; /* Match the width of your company logo */
    height: 76px; /* Match the height of your company logo */
    display: flex; /* To center the content */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    font-size: 1.5rem; /* Adjust the font size of FontAwesome icons as needed */
    color: #d1d1d1; /* Common color for all icons */
}